<h1><%=@code_case.title%></h1>
<h4>Description</h4>
<p><%=@code_case.description%></p>

<h4>My Code Solution</h4>
<p><%=@code_solution.content%></p>

<div style='display:inline-block;width:100%;max-height:250px;overflow:scroll'>
	<% @code_solution.code_solution_attachments.each do |att| %>

		<div class="media" style="width:48%;border:thin dotted gray">
		  <div class="media-left" style="float:left;width:10%;">
		    <%= link_to image_tag(att.record.url(:thumb), class: 'media-object'), att.record.url, target: '_blank' %>
		  </div>
		  <div class="media-body" style="float:right;width:88%;">
		    <h4 class="media-heading"><%= att.record_file_name %></h4>
		    <%= link_to 'Remove', code_solution_attachment_path(att), method: :delete, data: {confirm: 'Are you sure?'} %></div>
		  </div>
		</div>

	<% end %>
</div>
	<br>

	<%= form_for([CodeSolutionAttachment.new], remote: true) do |f| %>
	<div class="form-group">
	  <%= f.file_field :record, class: 'form-control' %>
	  <%= f.hidden_field :code_solution_id, value: @code_solution.id %> 
	  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	</div>
	<%= f.submit 'Upload', class: 'btn btn-default'%>

<% end %>
<br><br>

<p id="notice"><%= notice %></p>