<p id="notice"><%= notice %></p>

<h1>Listing Code Cases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_cases.each do |code_case| %>
      <tr>
        <td><%= link_to 'Show', code_case %></td>
        <td><%= link_to 'Edit', edit_code_case_path(code_case) %></td>
        <td><%= link_to 'Destroy', code_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code case', new_code_case_path %>
