<h1><%=@code_case.title%> Solution</h1>
<p><%=@code_case.description%></p>

<h4>Files for Code Case</h4>
<div style='display:inline-block;width:100%;max-height:250px;overflow:scroll'>

	<% @code_case.code_case_attachments.each do |att| %>

	<div class="media" style="width:48%;border:thin dotted gray">
	  <div class="media-left" style="float:left;width:10%;">
	    <%= link_to image_tag(att.record.url(:thumb), class: 'media-object'), att.record.url, target: '_blank' %>
	  </div>
	  <div class="media-body" style="float:right;width:88%;">
	    <h4 class="media-heading"><%= att.record_file_name %></h4>
	  </div>
	</div>

	<% end %>
</div>
<br>
<br>

<%@code_solution = CodeSolution.where(user_id: current_user.id, code_case_id: @code_case.id)%>
<%if @code_solution.exists?%>
	<%@code_solution = @code_solution.first%>
<%else%>
	<%@code_solution = CodeSolution.new%>
<%end%>

<%=form_for(@code_solution) do |f|%>
	<%=f.hidden_field :code_case_id, value: @code_case.id%>
	<%=f.hidden_field :user_id, value: current_user.id%>
	<%=f.label :content%><br>
	<%=f.text_area :content, style:'resize:none; width: 88%; height: 250px;'%><br>
	<%=f.submit 'Save Text and Continue to Attach Files', class: 'btn btn-default'%>
<%end%>