<h1><%=@code_case.title%> Solution</h1>
<p><%=@code_case.description%></p>

<p>Files for Code Case</p>
<br>

<% @code_case.code_case_attachments.each do |att| %>

<div class="media">
  <div class="media-left">
    <%= link_to image_tag(att.record.url(:thumb), class: 'media-object'), att.record.url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= att.record_file_name %></h4>
  </div>
</div>

<% end %>
<br>
<br>

<%@code_solution = CodeSolution.where(user_id: current_user.id, code_case_id: @code_case.id)%>
<%if @code_solution.exists?%>
	<%@code_solution = @code_solution.first%>
<%else%>
	<%@code_solution = CodeSolution.new%>
<%end%>

<%=form_for(@code_solution) do |f|%>
	<%=f.hidden_field :code_case_id, value: @code_case.id%>
	<%=f.hidden_field :user_id, value: current_user.id%>
	<%=f.label :content%>
	<%=f.text_area :content%>
	<%=f.submit 'Save Text and Continue to Attach Files'%>
<%end%>