<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title%>
  </div>
  
  <div class="field">
    <%= f.label :git_link%><br />
    <%= f.url_field :git_link%>
  </div>

  <div class="field">
    <%= f.label :technical_description%><br />
    <%= f.text_area :technical_description%>
  </div>

  <% Partnership.order(:name).each do |partnership| %>
    <%= check_box_tag :partnership_ids,
                       partnership.id,
                       @project.partnerships.include?(partnership),
                       name: 'project[partnership_ids][]' %>
    <%= partnership.name %>
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
