<h1>Project List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Associated Partnerships</th>
      <th>Github Link</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td>
            <%project.partnerships.each do |x|%>
              <%= x.name%><br>
              <%end%>
        </td>
        <td><%= link_to 'Github', project.git_link %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
