<p id="notice"><%= notice %></p>

<h1>Listing Board Post Upvotes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_post_upvotes.each do |board_post_upvote| %>
      <tr>
        <td><%= link_to 'Show', board_post_upvote %></td>
        <td><%= link_to 'Edit', edit_board_post_upvote_path(board_post_upvote) %></td>
        <td><%= link_to 'Destroy', board_post_upvote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board post upvote', new_board_post_upvote_path %>
