<%= form_for(@board_post) do |f| %>
  <% if @board_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board_post.errors.count, "error") %> prohibited this board_post from being saved:</h2>

      <ul>
      <% @board_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title%>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :ckeditor => {:language => 'en'}  %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-default' %>
  </div>
<% end %>
