<h1>Sounding Board</h1>
<div align="right"><button class="btn btn-default"><%= link_to 'Add New Board Post', new_board_post_path %></button></div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @board_posts.each do |board_post| %>
      <tr>
        <td><%=board_post.title%></td>
        <td><div style="height:100px; overflow:hidden"%><%=board_post.content.html_safe%></div>
            <br><br>
            <div align="right"><button class="btn btn-default"><%= link_to 'View/Comment', board_post %></button></div>
        </td>
        <td><%=board_post.user.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


