<h1>Sounding Board</h1>
<br>
<table class="table table-bordered">
	<tr>
		<td><%=@board_post.content.html_safe%>
		</td>
		<td align="right"><%=@board_post.user.name%></td>
	</tr>
</table>
<table class="table table-bordered">
	<%@comments = @board_post.comments.order('created_at ASC')%>
	<%@comments.each do |c|%>
		<tr>
			<td><%=c.content.html_safe%></td>
			<td align="right"><%=c.user.name%><br>Upvotes:<%=c.upvotes%></td>
		</tr>
	<%end%>
</table>

<%=form_for(Comment.new) do |f|%>
	<%=f.label :content, 'Add a Comment'%><br>
	<%=f.cktext_area :content, :ckeditor => {:language => 'en'}%><br>
	<%=f.hidden_field :user_id, value: current_user.id%>
	<%=f.hidden_field :board_post_id, value: @board_post.id%>
	<%=f.submit%>
<%end%>
<%= link_to 'Back', board_posts_path %>