<h1>Sounding Board</h1>
<br>
<table class="table table-bordered">
	<tr>
		<td width="80%"><%=@board_post.content.html_safe%>
		</td>
		<td width="20%"align="right">Author:<%=@board_post.user.name%></td>
	</tr>
</table>
<table class="table table-bordered">
	<%@comments = @board_post.comments.order('created_at ASC')%>
	<%@comments.each do |c|%>
		<tr>
			<td width="80%"><%=c.content.html_safe%>
				<div id="likes" align="right">
					<%if CommentUpvote.where(comment_id: c.id, user_id: current_user.id).exists?%>
						<div> You have already liked this comment.</div>
					<%else%>
						<%=form_for([CommentUpvote.new], remote: true) do |g|%>
							<%=g.hidden_field :user_id, value: current_user.id%>
							<%=g.hidden_field :comment_id, value: c.id%>
							<%=g.submit "Like"%>
						<%end%>
					<%end%>
				</div>
			</td>
			<td width="20%" align="right">Author:<%=c.user.name%><br>Upvotes:<%=c.upvotes%></td>
		</tr>
	<%end%>
</table>

<%=form_for(Comment.new) do |f|%>
	<%=f.label :content, 'Add a Comment'%><br>
	<%=f.cktext_area :content, :ckeditor => {:language => 'en'}%><br>
	<%=f.hidden_field :user_id, value: current_user.id%>
	<%=f.hidden_field :board_post_id, value: @board_post.id%>
	<%=f.submit%>
<%end%>
<%= link_to 'Back', board_posts_path %>


<script>
	$("#new_comment_upvote").bind("ajax:complete", function(event, xhr, status) {
		window.location.reload();
	});

</script>

