<h1>Assignments</h1>


<h4>Design Cases</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date Assigned</th>
      <th>Link</th>
      <%if current_user.admin?%>
          <th>Edit</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @design_cases.where(listed: true).order('date_assigned').each do |c| %>
      <tr>
        <td><%=c.title%></td>
        <td><%=c.date_assigned%></td>
        <%if current_user.admin? && @design_cases.include?(c)%>
          <td><%= link_to 'View Submissions', {:controller => "design_cases", :action => "design_admin", :design_case => c.id}%></td>
        <%else%>
          <td><%= link_to 'Work on Case', c %></td>
        <%end%>
        <%if current_user.admin?%>
          <td> <%=link_to 'Edit', edit_design_case_path(c)%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%if current_user.admin?%>
  <%= link_to 'New Design Case', new_design_case_path %><br>
<%end%>
<br>

<h4>Code Cases</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date Assigned</th>
      <th>Link</th>
      <%if current_user.admin?%>
          <th>Edit</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @code_cases.each do |c| %>
      <tr>
        <td><%=c.title%></td>
        <td><%=c.date_assigned%></td>
        <%if current_user.admin? && @code_cases.include?(c)%>
          <td><%= link_to 'View Submissions', {:controller => "code_cases", :action => "code_admin", :code_case => c.id}%></td>
        <%else%>
          <td><%= link_to 'Work on Case', c %></td>
        <%end%>
        <%if current_user.admin?%>
          <td> <%=link_to 'Edit', edit_code_case_path(c)%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.admin?%>
  <%= link_to 'New Code Case', new_code_case_path %>
<%end%>
