<h1>Assignments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>View</th>
    </tr>
  </thead>

  <tbody>
    <% @all_cases = @design_cases + CodeCase.all%>
    <% @all_cases.each do |c| %>
      <tr>
        <td><%=c.title%></td>
        <%if @design_cases.include?(c)%>
          <td>Design Case</td>
        <%else%>
          <td>Code Case</td>
        <%end%>
        <%if current_user.admin? && @design_cases.include?(c)%>
          <td><%= link_to 'View Submissions', {:controller => "design_cases", :action => "design_admin", :design_case => c.id}%></td>
        <%else%>
          <td><%= link_to 'Start Assignment', c %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.admin?%>
  <%= link_to 'New Design Case', new_design_case_path %><br>
  <%= link_to 'New Code Case', new_code_case_path %>
<%end%>
