<h1><%=@design_case.title%></h1>
<br>

<%=form_for(@design_solution) do |f|%>
	<%=f.hidden_field :design_case_id, value: @design_case.id%>
	<%=f.hidden_field :user_id, value: current_user.id%>
	<h5><b>Description of Platform/Situation</b></h5>
	<%=@design_case.description%><br><br>

	<h5><b>Design Problem</b></h5>
	<%=@design_case.design_problem%><br><br>

	<h5><b>Problems to Be Addressed in the Solution</b></h5>
	<%=@design_case.questions%><br><br>

	<h5><b>Your Assignment</b></h5>
	<p>What are the tradeoffs for each of the proposed solutions? Make a pro/con list for each of the solutions. Rank the three solutions presented from best to worst. Then, come up with another solution for this problem. Make a list of the pros and cons related to your solution and rank your own solution (It doesn’t have to be the best solution).</p>

	<h5><b>Solution 1</b></h5>
	<%=@design_case.solution_1%><br>
	<%=f.label :one_pro_1, 'Pro 1'%>
	<%=f.text_field :one_pro_1, disabled: true%><br>
	<%=f.label :one_pro_2, 'Pro 2'%>
	<%=f.text_field :one_pro_2, disabled: true%><br>
	<%=f.label :one_pro_3, 'Pro 3'%>
	<%=f.text_field :one_pro_3, disabled: true%><br><br>
	<%=f.label :one_con_1, 'Con 1'%>
	<%=f.text_field :one_con_1, disabled: true%><br>
	<%=f.label :one_con_2, 'Con 2'%>
	<%=f.text_field :one_con_2, disabled: true%><br>
	<%=f.label :one_con_3, 'Con 3'%>
	<%=f.text_field :one_con_3, disabled: true%><br><br>

	<h5><b>Solution 2</b></h5>
	<%=@design_case.solution_2%><br><br>
	<%=f.label :two_pro_1, 'Pro 1'%>
	<%=f.text_field :two_pro_1, disabled: true%><br>
	<%=f.label :two_pro_2, 'Pro 2'%>
	<%=f.text_field :two_pro_2, disabled: true%><br>
	<%=f.label :two_pro_3, 'Pro 3'%>
	<%=f.text_field :two_pro_3, disabled: true%><br><br>
	<%=f.label :two_con_1, 'Con 1'%>
	<%=f.text_field :two_con_1, disabled: true%><br>
	<%=f.label :two_con_2, 'Con 2'%>
	<%=f.text_field :two_con_2, disabled: true%><br>
	<%=f.label :two_con_3, 'Con 3'%>
	<%=f.text_field :two_con_3, disabled: true%><br><br>

	<h5><b>Solution 3</b></h5>
	<%=@design_case.solution_3%><br><br>
	<%=f.label :three_pro_1, 'Pro 1'%>
	<%=f.text_field :three_pro_1, disabled: true%><br>
	<%=f.label :three_pro_2, 'Pro 2'%>
	<%=f.text_field :three_pro_2, disabled: true%><br>
	<%=f.label :three_pro_3, 'Pro 3'%>
	<%=f.text_field :three_pro_3, disabled: true%><br><br>
	<%=f.label :three_con_1, 'Con 1'%>
	<%=f.text_field :three_con_1, disabled: true%><br>
	<%=f.label :three_con_2, 'Con 2'%>
	<%=f.text_field :three_con_2, disabled: true%><br>
	<%=f.label :three_con_3, 'Con 3'%>
	<%=f.text_field :three_con_3, disabled: true%><br><br>

	<h5><b>Rankings of Solutions 1-3</b></h5>
	<%=f.label :solution_1_rank_1, "Solution 1 Rank"%>
	<%=f.select :solution_1_rank_1, [1,2,3], {}, {disabled: true}%>
	<br>
	<%=f.label :solution_2_rank_1, "Solution 2 Rank"%>
	<%=f.select :solution_2_rank_1, [1,2,3], {}, {disabled: true} %>
	<br>
	<%=f.label :solution_3_rank_1, "Solution 3 Rank"%>
	<%=f.select :solution_3_rank_1, [1,2,3], {}, {disabled: true}%>

	<h5><b>Your Solution</b></h5>
	<%=f.text_area :my_solution, disabled: true, style:'resize:none; width: 88%; height: 250px;'%>
	
	<h5><b>Rankings of Solutions 1-3 Plus My Solution</b></h5>
	<%=f.label :solution_1_rank_2, "Solution 1 Rank"%>
	<%=f.select :solution_1_rank_2, [1,2,3,4], {}, {disabled: true}%>
	<br>
	<%=f.label :solution_2_rank_2, "Solution 2 Rank"%>
	<%=f.select :solution_2_rank_2, [1,2,3,4], {}, {disabled: true}%>
	<br>
	<%=f.label :solution_3_rank_2, "Solution 3 Rank"%>
	<%=f.select :solution_3_rank_2, [1,2,3,4], {}, {disabled: true}%>
	<br>
	<%=f.label :my_solution_rank, "My Solution Rank"%>
	<%=f.select :my_solution_rank, [1,2,3,4], {}, {disabled: true}%>

	<h5><b>Justify Your Final Rankings</b></h5>
	<%=f.text_area :justification, disabled: true, style:'resize:none; width: 88%; height: 250px;'%>

	<br>

	
<%end%>

<%= link_to 'Back', {:controller => "design_cases", :action => "design_admin", :design_case => @design_case.id} %>
