<p id="notice"><%= notice %></p>

<h1>Listing Group Mems</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_mems.each do |group_mem| %>
      <tr>
        <td><%= link_to 'Show', group_mem %></td>
        <td><%= link_to 'Edit', edit_group_mem_path(group_mem) %></td>
        <td><%= link_to 'Destroy', group_mem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group mem', new_group_mem_path %>
