<%= form_for(@partnership) do |f| %>
  <% if @partnership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partnership.errors.count, "error") %> prohibited this partnership from being saved:</h2>

      <ul>
      <% @partnership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :user_1_id, 'Apprentice 1' %><br />
    <%= f.collection_select :user_1_id, User.order(:name), :id, :name%>
  </div>

  <div class="field">
    <%= f.label :user_2_id, 'Apprentice 2' %><br />
    <%= f.collection_select :user_2_id, User.order(:name), :id, :name%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
