<h1>Partnerships List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @partnerships.each do |partnership| %>
      <tr>
        <td><%=partnership.name%></td>
        <td>
            <%partnership.users.each do |x|%>
              <%=x.name%><br>
            <%end%>
        </td>
        <td><%= link_to 'Edit', edit_partnership_path(partnership) %></td>
        <td><%= link_to 'Destroy', partnership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partnership', new_partnership_path %>