<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>
  
<% User.order(:name).each do |user| %>
  <%= check_box_tag :user_ids,
                     user.id,
                     @group.users.include?(user),
                     name: 'group[user_ids][]' %>
  <%= user.name %>
  <br>
<% end %>

  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-default'%>
  </div>
<% end %>
